html{
	scroll-behavior: smooth;
}
body{
	background-color: black;
	color: white;
}

.container{
	background-image: url("../Imagens/teste3.jpg");
	 background-size: cover;
	height: 130rem;
	width: 60rem;
}	
#navlogo{
	margin-left: 27rem;
}
.navbar{
	background-color: #174234;
	width: 100%;
}
#menuEntrar a{
	color: white;
	margin-left: 10px;
	margin-right: -10px;
}

.col-lg-12{
	padding: 0;
}

.linha{
	border-left: 1px solid white;
  	height: 50px;
	margin: 0px 10px 0px 10px;
}
.classes{
	font-size: 20px;
	background-color: transparent;
	color: white;
	border: none;
	outline: none;
	padding-bottom: 10px;
	margin-top: 5px;
}

.conteudo h1{
	font-size: 3.5rem;
	text-align: center;
	margin-top: 40px;
	padding-bottom: 10px;
}
.div1{
	padding-top: 3rem;
	width: 32rem;
	padding-left: 3rem;
}
#caracteristicas{
	padding-top: 10rem;
	text-align: center;
	width: 32rem;
	margin-left: 30rem;
}
.funcao{
	font-size: 1.5rem;
	color: #c7d1c0;
	text-align: center;
	padding-bottom: 20px;
}
.itens{
	display: none;
}

#inputState{
	width: 13rem;
}

@media only screen and (max-width: 800px) {
  #inputState {display: none;}
}

@media only screen and (max-width: 800px) {
  h2 {margin-right: 5rem;}
}
@media only screen and (max-width: 1000px) {
  #dots { display: none;}
}
@media only screen and (max-width: 800px) {
  #menuEntrar a { margin: 0;}
}

#dots{
	margin-left: 25.6rem;
}
.dot {
  height: 15px;
  width: 15px;
  margin-top: -3rem;
  position: absolute;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease;
}
#dot2{
	margin-left: 2rem;
}
#dot3{
	margin-left: 4rem; 
}
#dot4{
	margin-left: 6rem; 
}
.active {
  background-color: #174234;
}

#usuario{
	margin-right: -10px;
}
#navlogin h2 {
	margin-right: 4rem;
}
#navsemlogin h2 {
	margin-right: 6.2rem;
}
.user{
  background: white;
  width: 9rem;
  height: 2.8rem;
  padding-top: 0.5rem;
  display: none;
  border-radius: 3%;
  position: absolute;
  margin-top: -111.2rem;
  margin-left: 54.2rem;
}
#log{
	display: block;
	border: none;
	background-color: transparent;
	width: 9rem;
	color: #212529;
	outline: none;
}
#log:hover{
	background-color: #f8f9fa;
}
#userlogin{
	color: white;
}

.classes:hover{
	border-bottom: 2px solid white;
}
.localizacao {
	margin-left: 20px;
	margin-top: 20px;
}

.imgclass{
	margin-left: 29%;
	width: 25rem;
	border-radius: 10%;
}
#guerreiro2img{
	margin-top: -17rem;
	position: absolute;
	margin-left: 10%;
	width: 25rem;
	border-radius: 10%;
}