.login{
  text-align: center;
  margin-top: 10rem;
  display: block;
}
.cadastro{
  display: none;
  margin-top: 5rem;
  text-align: center;
}
h1{
   font-weight: 500;
   font-size: 2.5rem;
   color: white;
}
body{
  background-image: url("../Imagens/background.jpg");
  background-size: cover;
}
.button{
  background-color: transparent;
  color: white;
  border: none;
  outline:none;
}
.button:hover{
  text-decoration: underline;
}
.ma {
  height: 50px;
  width: 25rem;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16pt;
  border: 1px solid white;
  outline: none;
  background-color: transparent;
  color: white;
}
.submit{
  height: 50px;
  width: 25rem;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16pt;
  border: none;
  outline: none;
  background-color: #174234;
  color: white;
}
::placeholder{
  color: white;
}
.submit:hover{
    color: white;
}

